<div id="ask">
    <div id="userAsks">
    <p>Query</p>
    <input type="text" placeholder="Ask something!" [(ngModel)]="query" />
    <button (click)="onAsk()">
        {{ isLoading() ? 'Asking' : 'Submit' }}
    </button>   
    </div>

    @if (errorMsg()) {
        <p>{{ errorMsg() }}</p>
    }

    <div id="chat">
        @for (msg of messages(); track msg.id) {
            <div id="message">
                <h3>{{ msg.id }}</h3>
                <p>{{ msg.role }}</p>
                <p>{{ msg.text }}</p>
                <p>{{ msg.sources }}</p>
            </div>
        } @empty {
            <p>Askssss</p>
        }
    </div>
</div>