header {
    height: 5rem;
    font-size: 1.4rem;
    display: flex;
    background-image: linear-gradient(160deg, darkblue, rgba(0, 0, 255, 0));
    padding: 1rem;
    color: aliceblue;
}
ul {
    position: absolute;
    right: 1rem;
    padding: 0.7rem;
}